body {
    background-color: #EEF9BF;
}

.titulo {
    display: flex;
    justify-content: center;
}

.titulo .letreiro380px {

    /* Formatacao */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    /*Letra*/

    color: #75B79E;
    margin-top: 40px;
    display: none;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 540px;
}

.titulo .letreiro {

    /* Formatacao */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;

    /*Letra*/

    color: #75B79E;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 540px;
}

/*Responsividade do LETREIRO */
@media (max-width: 560px) {
    .titulo .letreiro {
        flex-direction: column;
        width: auto;
    }

    .pool {
        margin: 20px auto;
    }
}

@media (max-width: 380px) {
    .titulo .letreiro380px {
        flex-direction: column;
        display: flex;
        width: auto;
    }

    .titulo .letreiro {
        display: none;
    }

    .pool {
        margin: 20px auto;
    }
}

/*--------------------------------------------------------------------------------------------------------------------------*/

/*Container das cartas, necessário fazer responsividade depois*/

.corpo {
    display: none;
}

ion-icon {
    position: fixed;
    font-size: 40px;
    top: 20px;
    right: 30px;
    background-color: #A7E9AF;
    border-radius: 100%;
    border: solid black 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

ion-icon:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.pool {
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 34px;
    width: 0px;
    /*WIDTH É AJUSTADO PELO NÚMERO DE CARTAS NO JAVASCRIPT*/
}

.pool .card {
    height: 146px;
    width: 117px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.pool .selecionada {
    background-color: #FFFFFF;
}

/*Tamanho do papagaio que vai no meio da carta*/

.pool .card .size {
    width: 100px;
    height: 100px;
}

.pool .card .back {
    display: block;
}

.pool .card .back:hover {
    cursor: pointer;
}

.pool .card .esconder {
    display: none;
}

/* TIMER */

.containercontador {
    height: 70px;
}

.contador .timer {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contador .pc {
    font-size: 120px;
    margin-top: 80px;
}

.contador .cel {
    font-size: 30px;
    color: #28572c;
}

.contadorcel{
    position: fixed;
    left: 20px;
    bottom: 20px;
}